:root {
    --primary: #6e0afc;
    --secondary: #00ffe0;
    --text: rgba(255, 255, 255, 0.9);
    --accent: #b98bff;
    --text-secondary: rgba(255, 255, 255, 0.9)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: var(--text);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.nav {
    width: 100%;
    padding: 1.5rem 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(12px);
    --webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    animation: fadeInDown 0.8s cubic-bezier();
}


body.index-page .section-tantangan {
  background-color: #fff7eb;
  padding: 100px 0;
  margin-bottom: 10px;
}

body.index-page .img-tantangan {
  max-width: 100%;
  height: 350px;
  border-radius: 16px;
  object-fit: cover;
}